@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 87.5%; /* Increased from 62.5% to 87.5% (1rem = 14px instead of 10px, +4px increase) */
  }

  body {
    @apply font-sans text-grey-700 bg-grey-50 dark:text-grey-200 dark:bg-grey-900 min-h-screen leading-normal text-base;
  }

  input,
  button,
  textarea,
  select {
    font: inherit;
    color: inherit;
  }

  button {
    @apply cursor-pointer;
  }

  *:disabled {
    @apply cursor-not-allowed;
  }

  select:disabled,
  input:disabled,
  textarea:disabled {
    @apply bg-grey-200 text-grey-500;
  }

  input:focus,
  button:focus,
  textarea:focus,
  select:focus {
    outline: 2px solid #2563eb;
    outline-offset: -1px;
  }

  button:has(svg) {
    line-height: 0;
  }

  a {
    @apply text-inherit no-underline;
  }

  ul {
    @apply list-none;
  }

  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply break-words;
    hyphens: auto;
  }

  img {
    @apply max-w-full;
  }
}
